<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input
        class="form-control"
        (input)="onNameChange($any($event.target).value)"
      />
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input
        type="date"
        class="form-control"
        (input)="onDateChange($any($event.target).value)"
      />
    </div>

    <div class="col">
      <label for=""><b>Date</b></label>
      <div>
        {{ date | date: 'longDate' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input
        class="form-control"
        type="number"
        (input)="onAmountChange($any($event.target).value)"
      />
    </div>

    <div class="col">
      <label for=""><b>Amount</b></label>
      <div>
        {{ amount | currency: 'NGN' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Number</label>
      <input
        class="form-control"
        type="number"
        (input)="onNumberChange($any($event.target).value)"
      />
    </div>

    <div class="col">
      <label for=""><b>Number</b></label>
      <div>
        {{ number | number }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input
        class="form-control"
        type="number"
        (input)="onMilesChange($any($event.target).value)"
      />
    </div>

    <div class="col">
      <label for=""><b>Kilometers</b></label>
      <div *ngIf="(miles | convert: 'km') > 10">
        {{ miles | convert: 'km' | number: '1.0-2'}}
      </div>
    </div>
  </div>

</div>

{{ car | json }}
